// *************************************
//
// Button
// -> All buttons
//
// *************************************
.btn{
  background-color: rgb(36, 148, 25) !important;
  border-radius: 10px !important;
  border: 0px !important;
  color: white !important;
  font-weight: bold !important;
  padding: 5px 10px !important;
  display: inline-block !important;
  background-image:none !important;
}
.Button {
  display: inline-block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
